<div class='main'>
  <div class="input-label">
    <span> Enter Process Name </span>
  </div>
  <div class="input-box">
    <input type="text" placeholder="Enter process name" [(ngModel)]='process' name="process">
  </div>
</div>
<div class='main'>
  <button class="btn" (click)='getProcess()'>Get Process</button>
</div>
<p class="heading" *ngIf='showProcess'>Data in file - {{processName}}.env - </p>
<div class="file process" *ngIf='showProcess'>
  {{fileData}}
</div>
<div class="files" *ngIf='files.length'>
  <p class="heading">Files</p>
  <div class="file" *ngFor='let f of files;let i = index'>
    <span> {{f}} </span>
  </div>
</div>
<div class="files" *ngIf='!files.length'>
  <p class="heading">No files found</p>
</div>
