.container {
  width: 100%;
  overflow: hidden;
  margin-top : 25px;
}

.navigation {
  display : flex;
  justify-content: center;
}

.link{
  border : 1px dotted #222222;
  padding : 5px;
  margin-right: 20px;
}

.data{
  padding : 20px;
}


